*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #181A1B;
  color: #fff;
}
footer{
  margin-top: 50px;
}
.header-img{
  width: 1347px;
  height: 90vh;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 10vh;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #000000;
}

.navbar-nav  li{
  margin-left: 1rem;
  border-style: solid;
  border-color:#9136F7;
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-nav li:after{
  width: 0;
  height: 0;
  content: " ";
  position: absolute;
  border-radius: 100%;
  background: #9136F7;
  align-items: center;
  justify-content: center;
}
.navbar-nav  li:after {
  transition: all 325ms ease-in;
}

.navbar-nav  li:hover:after{
width: 200px;
height: 200px;
border-radius: 4px;
}

.navbar-nav  li a{
  color: #9136F7 !important;
  text-decoration: none !important;
  z-index: 1;
  transition: all 325ms ease-in;
}
.navbar-nav  li:hover > a {
    color: #fff !important;
}
.navbar-brand::before{
 content: "Dev";
 color: #9136F7;
 font-weight: bold;
}
.navbar-brand{
  transition: all 325ms ease-in;
}
.navbar-brand:hover{
  color: #9136F7 !important;
}

/* .footer-padding {
	padding-bottom: 60px;
} */

.footer {
	position: static;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #9136F7;
}

.footer p {
	padding-top: 30px;
	font-size: 12px;
  color: #fff;
}

.form-control{
  margin-bottom: 15px;
}

.wrapper { /*this is basically being used to push the footer down at the bottom since the  */
  /* length of the content changes when you add to the home page with ejs. There is no position property that can give the footer like it should be  */
 /* This is a custom class I created not a bootstrap class, you can name it anything */
  min-height: calc(100vh - 150px);
  /* vh sets height according to initial viewport and 150px is just the combined height of header and footer section for this particular project */
}
